extends ../layout

block content
	h1 注册
	include ../nav
	form.form-group(method="post" action="/register")
		label 用户名
		input(type="text" , name="name")
		label 邮箱
		input(type="text", name="email")
		label 密码
		input(type="password", name="password")
		label 确认密码
		input(type="password",name="password-repeat")
		input.btn(type="submit", value="注册")